body::-webkit-scrollbar{
  display: none;
}

.header{
  position: fixed;
  background-color: blue;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  color: white;
}

.logo-image{
  height: 100px;
}

.your-checkout-page{
  font-size: 30px;
  margin-right: 700px;
  min-width: 40vh;
}

.checkout-quantity{
  color: red;
  text-shadow: 0px 0px 5px black;
  font-size: 3vh;
}


.checkout-container{
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 180vh;
  padding-left: 10vh;
}

.items{
  display: flex;
  height: 32vh;
  width: 110vh;
  justify-content: space-around;
  box-shadow: 2px 2px 10px rgb(6, 6, 243) ;
  margin-top: 1vh;
  background-color: rgb(221, 232, 244);
  padding-bottom: 10vh;
  padding-right: 0.5vh;
 
}


.delivery-date-header{
  color: green;
  font-size: 2.5vh;
  font-weight: 700;
  margin-left: 10px;
}

.image-container{
  margin-top: 2vh;
  height: 30vh;
 
}

.item-image{
  width: 30vh;
}

.product-details{
  width: 45vh;
  margin-top: 5vh;
  height: 30vh;
  padding-left: 2vh;
  font-size: large;
  font-weight: 900;
}

.delete-buttons{
  background-color:  rgb(168, 8, 8);
  border-style: none;
  color: white;
  padding: 0.6vh;
  border-radius: 0.5vh;
}

.radio-button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.checkout-summary{
  position: fixed;
  left: 140vh;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  box-shadow: 2px 2px 10px blue;
  height: 50vh;
  width: 50vh;
  z-index: 100;
  border-radius: 1vh;
  padding-left: 3vh;
  font-weight: 700;
  font-size: 2vh;
  background-color: rgb(221, 232, 244);
}
.summary-title{
  font-weight: 700;
  font-size: 4vh;
  margin-left: 14vh;
}

.delivery-options{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35vh;
  width: 40vh
}

.day-string{
  color: green;
  font-weight: 900;
}

.delivery-options{
  color: gray;
}

.tax-percent{
  font-size: 1.8vh;
  color: gray;
}

.button-section{
  display: flex;
  justify-content: space-between;
  padding-right: 1vh;
}
.delete-all-button{
  background-color: rgb(168, 8, 8);
  width: 23vh;
  color: White;
  padding-left: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 1vh;
  cursor: pointer;
}
.placeorder-button{
  background-color: green;
  width: 15vh;
  color: White;
  padding-left: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 1vh;
  cursor: pointer;

}



